* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-page button {
  position: absolute;
  float: top left;
  top: 6.5%;
  left: 6.5%;
  color: white;
  background-color: #4b0b79;
  border-radius: 40px;
  border: 1px #701769 solid;
  font-size: 15px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0 0 15px 4px rgb(238, 238, 216); /* purple glow */
  transition: box-shadow 0.3s ease-in-out;

}

.home-page button:hover {
  background: #d99ed4;
}

.chat-container {
  width: 90%;
  height: 90%;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  margin: 0px;
}

.chat-header {
  background-image: url("imgs/stars.jpg");
  background-position: center;
  background-size: 60%;
  text-align: center;
  text-shadow: 1px 1px #ffffff;
  padding: 20px;
  font-size: 1.5em;
  font-weight: 600;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
}

.message.user {
  justify-content: flex-end;
}

.bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 15px;
  line-height: 1.4;
}

.message.bot .bubble {
  background: #edd2eb;
  color: #000;
  border-bottom-left-radius: 0;
}

.message.user .bubble {
  background: #96248d;
  color: #ffffff;
  border-bottom-right-radius: 0;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  border: none;
  padding: 15px;
  font-size: 1em;
  outline: none;
}

.chat-input button {
  background: #D17AFF;
  color: white;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s;
}

.chat-input button:hover {
  background: #65085d;
}

/* Scrollbar styling */
.chat-box::-webkit-scrollbar {
  width: 6px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

#controls button {
  background-color: #edd2eb;
  border-radius: 50px;
  border: 1px #701769 solid;
  padding: 10px;
  cursor: pointer;
}

#controls button:hover {
  background-color: #d99ed4;
  
}

select {
  background-color: #edd2eb;
  font-size: 14px;
}

.bubble img {
  vertical-align: middle;
  margin-left: 5px; /* space between text and image */
}