* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #d4b3f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

.chat-container {
  width: 1000px;
  height: 600px;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  margin: 0px;
}

.chat-header {
  background-image: 
    url('imgs/stars.png');
    linear-gradient(to bottom, white, #d99ed4);
  background-size: 10px;
  color: black;
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
  font-weight: 600;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  
}

.message {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
}

.message.user {
  justify-content: flex-end;
}

.bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 15px;
  line-height: 1.4;
}

.message.bot .bubble {
  background: #e5d9f0;
  color: #000;
  border-bottom-left-radius: 0;
  background-image: linear-gradient(to top, rgb(175, 106, 175), #e5d9f0);
}

.message.user .bubble {
  background: #95408e;
  color: #fff;
  border-bottom-right-radius: 0;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  border: none;
  padding: 15px;
  font-size: 1em;
  outline: none;
}

.chat-input button {
  background: #701769;
  color: white;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s;
}

.chat-input button:hover {
  background: #65085d;
}

/* Scrollbar styling */
.chat-box::-webkit-scrollbar {
  width: 6px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

#controls button {
  background-color: #edd2eb;
  border-radius: 50px;
  border: 1px #701769 solid;
  padding: 10px;
  cursor: pointer;
}

#controls button:hover {
  background-color: #d99ed4;
  
}

select {
  background-color: #edd2eb;
  font-size: 14px;
}

.bubble img {
  vertical-align: middle;
  margin-left: 5px; /* space between text and image */
}